/* Importa a fonte  do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
/* Estiliza o corpo da página */
body {
    font-family: "Cinzel" ,"Pirata One", sans-serif; /* Define a fonte padrão */
    background-color: #DDDDDD; /* Cor de fundo da página */
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Preenche a altura total da viewport */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    background-image: url('../imgs/plano-fundo.jpg'); /* colocado imagem de fundo */
    background-repeat: no-repeat; /* imagem nao se repetir */
    background-size: cover; /* imagem se enquadrar na tela  */
    height: 100vh; /* Ajuste a altura conforme necessário */
}

/* Estiliza os títulos h1 */
h1 {
    font-size: 2.5rem; /* Tamanho da fonte */
    color: rgb(255, 204, 0);; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    letter-spacing: 0.4rem; /* Espaçamento entre letras */
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 30rem; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #45474B; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color:#4CAF50; /* Cor de fundo do botão */
    color: #F5F7F8; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #30475E; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
}
.container {
    text-align: center;
    margin:auto;
  }
  
/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 50vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
    overflow: hidden;
}

/* Estiliza cada item de resultado */
.item-resultado {
    background: rgba(255, 255, 255, 0.5); /* Cor de fundo dos itens */
    border-radius: 1rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 5rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    overflow: hidden; /* Permite rolagem se necessário */
    min-height: 390px; /* Altura mínima para garantir que o conteúdo não fique cortado */
    box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura e altura */
}


/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem ; /* Tamanho da fonte */
    color: #000000 ; /* Cor do texto */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #000000; /* Cor do texto dos links */
    margin-bottom: 20px;
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #000000; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
    font-family:' Nerko One';
}

/* Estiliza o rodapé da página */
footer {
    background-color: transparent; /* Cor de fundo do rodapé */
    color: white; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1.5rem; /* Tamanho da fonte */
    border-top: 0px solid black; /* largura estilo cor */
}

.link-footer:visited{
    color:white
}

.link-footer {
    color: white; /* Cor do link normal */
}

.link-footer:hover {
    color: white; /* Cor do link quando o mouse está sobre ele */
}

.imagem {
    display: inline-block;
    width: 170px; /* Largura fixa para todas as imagens */
    height: 170px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Cobre a área da caixa, mantendo a proporção */
    filter: contrast(1.2); /* Melhora a nitidez */
    margin-right: 10px; /* Espaçamento entre imagens */
    object-fit: contain; /* Ajusta a imagem para caber dentro do contêiner sem cortar */
    
}


  .imagem-item {
    display: inline-block;
    margin-right: 10px; /* Espaçamento entre as imagens */
  }

/* Confiurar a responsividade para tablets/mobile  */
@media (max-width: 768px) { 
    h1 {
        font-size: 2rem; /* Tamanho da fonte em telas menores */
        letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
    }

    section input {
        width: 25rem; /* Largura dos inputs em telas menores */
        padding: 0.8rem; /* Espaçamento interno em telas menores */
    }

    .resultados-pesquisa {
        width: 40rem; /* Largura da caixa de resultados em telas menores */
        height: 40vh; /* Altura da caixa de resultados em telas menores */
    }

    .item-resultado h2 {
        font-size: 1.3rem; /* Tamanho da fonte dos títulos em telas menores */
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {

    h1 {
        font-size: 1.8rem; /* Tamanho da fonte em telas pequenas */
        letter-spacing: 0.1rem; /* Espaçamento entre letras em telas pequenas */
    }

    section input {
        width: 17rem; /* Largura total dos inputs em telas pequenas */
    }

    section button {
        padding: 0.6rem 1rem; /* Espaçamento interno do botão em telas pequenas */
        font-size: 0.9rem; /* Tamanho da fonte do botão em telas pequenas */
    }

    .resultados-pesquisa {
        width: 90%; /* Largura da caixa de resultados em telas pequenas */
        height: 50vh; /* Altura da caixa de resultados em telas pequenas */
    }

    .item-resultado h2 {
        font-size: 1.1rem; /* Tamanho da fonte dos títulos em telas pequenas */
    }

    footer {
        font-size: 0.9rem; /* Tamanho da fonte do rodapé em telas pequenas */
    }
}